/.conda
/.gradio
/audio.mp3
/average_bleu_per_language.png
/average_processing_time_per_language.png
/average_wer_per_language.png
/common_voice_evaluation_bleu_2.csv
/common_voice_whisper_small_results.csv
/common_voice_whisper_small_results_2.csv
/cv-corpus-20.0-delta-2024-12-06-en
/cv-corpus-22.0-2025-06-20-hi
/cv-corpus-22.0-delta-2025-06-20-de
/cv-corpus-22.0-delta-2025-06-20-fr
/eval_2.py
/flagged
/fleurs_whisper_small_no_bert_results.csv
/Hindi_F_Deepika.mp3
/Hindi_F_Sujata.mp3
/HIN_M_AbhishekS.mp3
/mic_test.txt
/Outputs
/sample.py
/test.txt
/whisper_google_translate_hi_eval.csv
/__pycache__